#navigation-container {
  width: 4%;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  background-color: black;
  color: white;
  height: 100vh;
  position: fixed;
  z-index: 99;
}

#navigation-container:hover {
  width: 15%;
}

.nav-item-name {
  display: none;
  transition: opacity 0.5s ease-in-out;
  color: white;
  white-space: nowrap; /* Tambahkan ini */
  overflow: hidden; /* Tambahkan ini */
  text-overflow: ellipsis; /* Tambahkan ini */
}

#navigation-container:hover .nav-item-name {
  display: block;
  opacity: 1;
}

.search-input {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: white;
  color: black;
}

#navigation-container:hover .search-input {
  display: block;
  opacity: 1;
}

#navigation-container:hover .search-icon {
  display: none;
  transition: opacity 0.2s ease-in-out;
}

.flex {
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  #navigation-container {
    width: 60px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    padding: 1rem;
  }

  #navigation-container:hover {
    width: 60%;
  }

  .nav-item-name {
    display: none;
  }

  #navigation-container:hover .nav-item-name {
    display: block;
    opacity: 1;
  }

  .flex-col {
    flex-direction: column;
    gap: 1rem;
  }

  .relative {
    position: static;
  }

  .absolute {
    position: static;
    margin-top: 1rem;
  }
}