@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f0f0ef;
    color: #fff;
  }
  input,
  textarea {
    color: #000;
  }
  html::-webkit-scrollbar {
    display: none;
}
